<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>DAFTAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="box">
    <label position="floating" name="username">Username </label>
    <input required [(ngModel)]="username" type="text" id="username" placeholder="Masukan Username" />
    <label position="floating" name="password">Password </label>
    <input required [(ngModel)]="password" type="password" id="password" placeholder="Masukan Password" />
    <ion-row>
      <ion-col>
        <ion-button class="btn" type="button" (click)="addUser()" color="primary" shape="full"
          expand="block">DAFTAR</ion-button>
      </ion-col>
    </ion-row>

  </div>
</ion-content>